# The ID of your GitHub App
APP_ID=153867
WEBHOOK_SECRET=5c658f30a52ba27aa639970036689d1f719d827c

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=https://smee.io/Z5ZjUJgphwkAl9pt
